<footer class="h-72 w-full grid grid-cols-3 pt-12 pl-12 text-gray-300 " style="background-color: #5A4C3F;">
    <div class="flex flex-col">
        <a routerLink="{{menu.link}}" *ngFor="let menu of firstCol" class="my-2 hover:text-white hover:font-bold">
            {{ menu.name }}
        </a>
    </div>
    <div class="flex flex-col">
        <a routerLink="{{menu.link}}" *ngFor="let menu of secondCol" class="my-2 hover:text-white hover:font-bold">
            {{ menu.name }}
        </a>
    </div>
    <div class="">
        <fa-icon class="cursor-pointer mr-4" [icon]="faFacebook" size="2x"></fa-icon>
        <fa-icon class="cursor-pointer mr-4" [icon]="faInstagram" size="2x"></fa-icon>
    </div>
</footer>